<div class="container">
<h2>Update Note <%= Below</h2>
<form action="/update" method="post">
    <p>Title:<br> <input type="text" cols="25" name="title_input"></p>
    <p>Content: <br><textarea cols="25" rows="5" name="content_input"></textarea><br></p>

    <input type="submit" value="Add Note" >

  </form>
  
</div>